absl-py==2.1.0
accelerate==1.5.2
accelerated-scan==0.2.0
aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aiosignal==1.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asteroid==0.7.0
asteroid-filterbanks==0.4.0
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==5.0.1
attrs==24.2.0
audeer==2.2.0
audiomentations==0.24.0
audioread==3.0.1
audobject==0.7.11
audonnx==0.7.0
auraloss==0.4.0
av==13.1.0
Babel==2.15.0
basic-pitch==0.4.0
beartype==0.14.1
beautifulsoup4==4.13.4
bitarray==3.4.2
bitsandbytes==0.45.3
bleach==6.1.0
blessed==1.20.0
blessings==1.7
Bottleneck==1.4.2
cached-property==2.0.1
cachetools==5.5.2
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
conda-pack==0.8.1
contextlib2==21.6.0
contourpy==1.3.0
cqt-pytorch==0.0.5
ctranslate2==4.5.0
cupy-cuda113==10.6.0
cycler==0.12.1
Cython==0.29.37
data-science-types==0.2.23
dataclasses==0.6
datasets==3.6.0
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
demucs==4.0.0
diffq==0.2.4
diffusers==0.33.1
dill==0.3.8
Distance==0.1.3
docker-pycreds==0.4.0
docopt-ng==0.9.0
dora_search==0.1.12
efficientnet_pytorch==0.7.1
einops==0.8.0
elementpath==5.0.1
eval_type_backport==0.2.2
exceptiongroup==1.2.2
executing==2.0.1
fairseq==0.12.2
fast_bss_eval==0.1.4
fastjsonschema==2.20.0
fastrlock==0.8.2
ffmpeg-python==0.2.0
filelock==3.16.1
Flask-Cors==4.0.1
flatbuffers==24.3.25
fonttools==4.56.0
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.9.0
future==1.0.0
g2p-en==2.1.0
Gammatone @ https://github.com/detly/gammatone/archive/master.zip#sha256=a33b739c787152035646cf5c1910ae3ff5da556b6d1f8c9d27191a2495ad6612
gast==0.4.0
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.38.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gpustat==1.1.1
grpcio==1.71.0
gunicorn==22.0.0
h5py==3.13.0
hdbscan==0.8.37
hf-xet==1.1.2
huggingface-hub==0.32.3
humanfriendly==10.0
hydra-core==1.3.2
hyper-connections==0.1.15
HyperPyYAML==1.2.2
idna==3.10
imageio==2.37.0
importlib_metadata==8.6.1
importlib_resources==6.5.2
inflect==4.1.0
ipykernel==6.29.5
ipython==8.18.1
ipywidgets==8.1.3
isoduration==20.11.0
itsdangerous==2.2.0
jams==0.3.4
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.4
joblib==1.4.2
json5==0.9.25
jsonpickle==4.0.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
julius==0.2.7
jupyter-events==0.10.0
jupyter-lsp==2.2.5
jupyter_core==5.7.2
jupyter_server==2.14.2
jupyter_server_terminals==0.5.3
jupyterlab==4.2.4
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.11
kaldiio==2.18.1
keras==2.9.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
lameenc==1.8.1
lark-parser==0.12.0
lazy-dataset==0.0.15
lazy_loader==0.4
libclang==18.1.1
librosa==0.10.2.post1
lightning-utilities==0.11.9
llvmlite==0.43.0
loralib==0.1.2
lxml==5.4.0
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.5.0
matplotlib-inline==0.1.7
mdurl==0.1.2
mido==1.3.3
mir_eval==0.8.2
mistune==3.0.2
ml-dtypes==0.4.0
ml_collections==0.1.1
mock==5.2.0
modelscope==1.20.1
Montreal-Forced-Aligner @ git+https://github.com/MontrealCorpusTools/Montreal-Forced-Aligner.git@8abae27a20ea4e31ff64f086677e43941aee2fb5
more-itertools==10.6.0
mpmath==1.3.0
mrcfile==1.5.4
msgpack==1.1.0
mtcnn==0.1.1
multidict==6.1.0
multiprocess==0.70.16
munch==4.0.0
musdb==0.4.3
music21==8.3.0
namex==0.0.8
nara-wpe==0.0.11
natsort==8.4.0
nbclient==0.10.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.3
nltk==3.9.1
nnAudio==0.3.3
nose==1.3.7
notebook==7.2.1
notebook_shim==0.2.4
npy-append-array==0.9.16
numba==0.60.0
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.575.51
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
omegaconf==2.3.0
onnx==1.16.2
onnxruntime==1.19.2
onnxruntime-gpu==1.18.1
openai-whisper==20240930
opencv-python==4.8.1.78
openunmix==1.3.0
opt-einsum==3.3.0
optree==0.12.1
overrides==7.7.0
oyaml==1.0
packaging==24.2
paderbox==0.0.8
padertorch==0.0.1
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
partitura==1.6.0
pb-bss-eval==0.0.2
pb_bss @ git+http://github.com/fgnt/pb_bss@99eb6c874f77f6a94c224c838ea3d850e554c430
pedalboard==0.8.9
pesq==0.0.4
pexpect==4.9.0
pillow==11.0.0
pip-system-certs==4.0
platformdirs==4.3.6
pooch==1.8.2
portalocker==3.1.1
praat-parselmouth==0.4.4
praatio==5.1.1
pretrainedmodels==0.7.4
pretty_midi==0.2.10
primePy==1.3
prodigyopt==1.1.2
prometheus_client==0.20.0
prompt_toolkit==3.0.47
propcache==0.2.0
protobuf==3.20.3
psutil==6.1.0
ptflops==0.7.4
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
pyaml==25.5.0
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycwt==0.4.0b0
pydantic==2.10.6
pydantic_core==2.27.2
pydub==0.25.1
Pygments==2.18.0
pyloudnorm==0.1.1
pynndescent==0.5.13
pyparsing==3.2.1
pypinyin==0.39.0
PySocks==1.7.1
pystoi==0.4.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-magic==0.4.27
pytorch-lightning==2.0.2
pytorch-ranger==0.1.1
pytz==2024.2
PyWavelets==1.6.0
pyworld==0.2.12
PyYAML==6.0.2
pyzmq==26.0.3
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
resampy==0.4.2
retina-face==0.0.17
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
ridge-detection==3.0.0
rotary-embedding-torch==0.8.5
rpds-py==0.19.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
sacrebleu==2.5.1
sacred==0.8.7
safetensors==0.4.5
scikit-image==0.24.0
scikit-learn==1.5.2
scipy==1.13.1
segmentation-models-pytorch==0.3.3
Send2Trash==1.8.3
sentencepiece==0.2.0
sentry-sdk==2.19.0
setproctitle==1.3.4
setuptools-scm==8.2.0
silero-vad==5.1.2
simplejson==3.20.1
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.7
soxr==0.5.0.post1
spafe==0.3.2
speechbrain @ git+https://github.com/speechbrain/speechbrain.git@4f4b49c1e42022f20e7b1968cc278fba71720de7
SRMRpy @ git+https://github.com/jfsantos/SRMRpy@fee009779cef96bed34db3a7e31d10f3ad1ea133
stack-data==0.6.3
stempeg==0.2.4
submitit==1.5.2
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.9.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5
tensorflow==2.9.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.0.1
terminado==0.18.1
TextGrid==1.6.1
tf_keras==2.17.0
tflite-runtime==2.14.0
tgt==1.4.4
threadpoolctl==3.5.0
tifffile==2024.7.24
tiktoken==0.9.0
timm==0.9.2
tinycss2==1.3.0
tokenizers==0.21.0
tomli==2.0.1
torch==2.5.1
torch-audiomentations==0.12.0
torch-complex==0.4.4
torch-log-wmse==0.2.9
torch-mir-eval==0.4
torch-optimizer==0.3.0
torch-stoi==0.2.3
torch_pitch_shift==1.2.5
torchaudio==2.5.1
torchlibrosa==0.1.0
torchmetrics==1.6.0
torchseg==0.0.1a1
torchvision==0.20.1
tornado==6.4.1
tqdm==4.67.0
traitlets==5.14.3
transformers==4.47.1
treetable==0.2.5
triton==3.1.0
# Editable install with no version control (tssep==0.0.0)
-e /home/jungji/separation/tssep
typeguard==2.13.3
types-python-dateutil==2.9.0.20240316
typing_extensions==4.12.2
tzdata==2024.2
umap-learn==0.5.6
Unidecode==1.1.1
uri-template==1.3.0
urllib3==2.2.3
wandb==0.18.7
wcwidth==0.2.13
webcolors==24.6.0
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.8.0
Werkzeug==3.1.3
wespeaker @ git+https://github.com/wenet-e2e/wespeaker.git@58071902625ae6b072befda2932a38e9b38d5f26
wget==3.2
widgetsnbextension==4.0.11
wrapt==1.17.0
xmlschema==4.0.1
xxhash==3.5.0
yarl==1.18.0
yt-dlp==2025.6.9
zipp==3.21.0
